body {
  font-size: 1.5em;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: Arial, sans-serif;
  background: white;
  color: white; }

body.app-main {
  color: #30b1ea; }

a {
  text-decoration: none; }

button {
  background: #a0cde0;
  border: 0;
  /*box-shadow: 0 2px 0 0 $secondary-color;
  border-radius: 10px;*/
  margin: 20px 10px;
  padding: 15px 20px 15px 20px;
  outline: none;
  color: white;
  font-size: 1em; }

input {
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background: none; }

input:focus, a {
  color: #30b1ea;
  font-size: 1em; }

input {
  color: #a0cde0;
  font-size: 1em; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a0cde0; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #a0cde0; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #a0cde0; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #a0cde0; }

.app {
  width: 100%;
  /* height: 100vh;*/ }

.app-logo {
  width: 100%;
  text-align: center;
  font-size: 4em; }

.app-container {
  background: white;
  height: 100%;
  width: 100%; }

.app-content {
  bottom: 0; }

.app-content button {
  width: 80%; }

.app-content-hidden {
  display: none; }

.app-content-loading {
  margin-top: 10%;
  text-align: center; }

.app-form {
  text-align: center;
  margin-top: 20px; }

.app-form > input {
  margin: 10px 10%;
  width: 80%; }

.app-back {
  margin: 10px; }

.app-navbar {
  width: 100%;
  background: #30b1ea;
  overflow: auto; }

.app-navbar a {
  color: white; }

.app-navbar button {
  padding: 0;
  margin: 0; }

.app-task-back, .app-task-next, .app-task-create {
  display: inline-block;
  margin: 10px; }

.app-back > button, .app-task-back > button, .app-task-next > button {
  background: none; }

.app-task-next, .app-task-create {
  float: right; }

.app-task-breadcrumbs {
  text-align: center; }

#app-task-time {
  color: #30b1ea;
  margin: 0; }

.app-task-view {
  width: 100%;
  text-align: center; }

.app-task-view > h2 {
  color: #30b1ea; }

.app-title {
  color: #30b1ea;
  width: 100%;
  text-align: center; }

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.uil-ring-css {
  background: none;
  width: 200px;
  height: 200px;
  margin: auto; }

.uil-ring-css > div {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #a0cde0;
  -ms-animation: uil-ring-anim 0.75s linear infinite;
  -moz-animation: uil-ring-anim 0.75s linear infinite;
  -webkit-animation: uil-ring-anim 0.75s linear infinite;
  -o-animation: uil-ring-anim 0.75s linear infinite;
  animation: uil-ring-anim 0.75s linear infinite; }

/*# sourceMappingURL=toss.css.map */
